
.cancha{
	position: relative;
	top:40px;
	left: 200px;
	width: 1050px;
	height: 550px;
	background-color: #2EB320;
	
	
	
}
.contorno{
	position:absolute;
	border: 10px solid white;
	top :90px;
    left :270px;
    display:block;
    width: 910px;
    height:450px;
	


}

.arcoi{
	position:absolute;
    top: 250px;
    left: 1100px;
    width: 80px;
    height: 150px;
    border: 10px solid white;
}

.arcod{
	position:absolute;
    top: 250px;
    left: 270px;
    width: 80px;
    height: 150px;
    border: 10px solid white;
    
}
.circulo{
	position: absolute;
    top: 250px;
    left: 650px;
    width: 150px;
    height: 150px;
    border: 10px solid white;
    border-radius: 50%;

}


.Balon1{
    position: absolute;
    top:258px;
	bottom: 0px;
	right: 950px;
	left: 347px;	
	background-image:url(../img/ball.png);
	background-size: 24px;
	background-repeat: no-repeat;

}
.Balon2{
	position:absolute;
	top:170px;
	bottom: 0px;
	right: 0px;
	left: 730px;
	background-image:url(../img/ball.png);
	background-size: 24px;
	background-repeat: no-repeat;
	
	}
.Balon3{
	position:absolute;
	top:380px;
	bottom: 0px;
	right: 0px;
	left: 1070px;
	background-image:url(../img/ball.png);
	background-size: 24px;
	background-repeat: no-repeat;
	
	}
